body {
  color: #4E4A26;
  background-color: #1F1E15;
}


.container {
	display: flex;
}


table {
	border: 1px solid #3A3724;
	width: 400px;
	margin-left: 30px;
}

td {
	border: 1px solid #3A3724;
	background-color: #453918;
	color: #946409 ;
    
}

thead{
    background-color: #946409;
    color: #fff;
}


form.form {
}

form button {
	color: #8D002D; 
	border: 1px #FF6553 solid;
}


div.form {
}

label, input {
    margin-bottom: 10px;
    width: 125px;
}

label {
	display: inline-block;
    padding-right: 10px;
    width: 80px;

}

button.button {
	margin-right: 20px;
}